
   .Weather .WeatherForecast .nextday1  {
    position: relative;
  right:320px;
    top: 100px;
    
  } 
  
  .Weather .WeatherForecast .nextday2  {
    position: relative;
    right:200px;
    top: 13px;
    
  } 
  .Weather .WeatherForecast .nextday3  {
    position: relative;
    right:90px;
   top: -74px;
    
  } 

 .Weather .WeatherForecast .col-2 .forecastTemp{
    position: relative;
    right:-330px;
    bottom:-50px;
   
  }

   
  .Weather .nextdays {
    position: relative;
    left: 480px;
    top: -50px;
    color: rgb(135, 135, 135);
    font-family: "Orbitron", sans-serif;
    font-weight: bold;
    background-color: rgba(135, 135, 135, 0.3);
    width: fit-content;
    border-radius: 10px;
  }
   .Weather .forecasticon canvas{
    position: relative;
    top: 5px;
    left: 380px;
  }  



  .Weather  .col-2{
    display:inline; 
    text-align: center;
    position: relative;
     left: 340px;
    bottom:150px; 
    color: rgb(135, 135, 135);
    font-family: "Orbitron", sans-serif;
    font-weight: bold;
    
      }
