
   .Weather .WeatherForecast .nextday1  {
    position: relative;
  right:320px;
    top: -19px;
    
  } 
  
  .Weather .WeatherForecast .nextday2  {
    position: relative;
    right:200px;
    top: -107px;
    
  } 
  .Weather .WeatherForecast .nextday3  {
    position: relative;
    right:90px;
   top: -193px;
    
  } 

 .Weather .WeatherForecast .col-2 .forecastTemp{
    position: relative;
    right:-350px;
    bottom:-49px;
   
  }

   
  .Weather .nextdays {
    position: relative;
    left: 480px;
    top: -185px;
    color: rgb(135, 135, 135);
    font-family: "Orbitron", sans-serif;
    font-weight: bold;
    background-color: rgba(135, 135, 135, 0.3);
    width: fit-content;
    border-radius: 10px;
  }
   .Weather .forecasticon canvas{
    position: relative;
    top: 5px;
    left: 399px;
  }  



  .Weather  .col-2{
    display:inline; 
    text-align: center;
    position: relative;
     left: 340px;
    bottom:150px; 
    color: rgb(135, 135, 135);
    font-family: "Orbitron", sans-serif;
    font-weight: bold;
    
      }
